<div id="<%= dom_id students_book %>">
  <p>
    <strong>Idstudent:</strong>
    <%= students_book.IdStudent %>
  </p>

  <p>
    <strong>Namestudent:</strong>
    <%= students_book.NameStudent %>
  </p>

  <p>
    <strong>Roomstudent:</strong>
    <%= students_book.RoomStudent %>
  </p>

  <p>
    <strong>Idbook:</strong>
    <%= students_book.IdBook %>
  </p>

  <p>
    <strong>Namebook:</strong>
    <%= students_book.NameBook %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= students_book.Author %>
  </p>

  <p>
    <strong>Categorybook:</strong>
    <%= students_book.CategoryBook %>
  </p>

  <p>
    <strong>Idbm:</strong>
    <%= students_book.IdBM %>
  </p>

  <p>
    <strong>Dateborrow:</strong>
    <%= students_book.DateBorrow %>
  </p>

  <p>
    <strong>Dateback:</strong>
    <%= students_book.DateBack %>
  </p>

  <p>
    <strong>Numberdate:</strong>
    <%= students_book.numberDate %>
  </p>

</div>
