<div id="<%= dom_id student %>">
  <p>
    <strong>Id:</strong>
    <%= student.Id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.Name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= student.Room %>
  </p>

  <p>
    <strong>Idbook:</strong>
    <%= student.IdBook %>
  </p>

  <p>
    <strong>Namebook:</strong>
    <%= student.NameBook %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= student.Author %>
  </p>

  <p>
    <strong>Categorybook:</strong>
    <%= student.CategoryBook %>
  </p>

  <p>
    <strong>Idbm:</strong>
    <%= student.IdBM %>
  </p>

  <p>
    <strong>Dateborrow:</strong>
    <%= student.DateBorrow %>
  </p>

  <p>
    <strong>Dateback:</strong>
    <%= student.DateBack %>
  </p>

  <p>
    <strong>Numberdate:</strong>
    <%= student.numberDate %>
  </p>

</div>
