<p style="color: green"><%= notice %></p>
<h1>Friends</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <%# <th scope="col">#</th> %>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Phone</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <%# <--<%= render friend %>
      <tr id="<%= dom_id friend %>">
        <td><%= friend.name %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.email %></td>
        <td>
          <%= link_to "Show", friend, class: 'btn btn-outline-info' %>
        </td>
        <td>
          <%= link_to "New", new_friend_path, class: 'btn btn-outline-primary' %>
        </td>
        <td>
          <%= button_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</tbody>
<%= link_to "New friend", new_friend_path, class: 'btn btn-success'%>
