<h1>Information Borrow</h1>
<div id="<%= dom_id library %>">
  <p>
    <strong>Idstudent 229:</strong>
    <%= library.IdStudent_229 %>
  </p>
  <p>
    <strong>Namestudent 229:</strong>
    <%= library.NameStudent_229 %>
  </p>
  <p>
    <strong>Roomstudent 229:</strong>
    <%= library.RoomStudent_229 %>
  </p>
  <p>
    <strong>Idbook 229:</strong>
    <%= library.IdBook_229 %>
  </p>
  <p>
    <strong>Namebook 229:</strong>
    <%= library.NameBook_229 %>
  </p>
  <p>
    <strong>Author 229:</strong>
    <%= library.Author_229 %>
  </p>
  <p>
    <strong>Categorybook 229:</strong>
    <%= library.CategoryBook_229 %>
  </p>
  <p>
    <strong>Idbm 229:</strong>
    <%= library.IdBM_229 %>
  </p>
  <p>
    <strong>Dateborrow 229:</strong>
    <%= library.IdBM_229 %>
  </p>
  <p>
    <strong>Dateback 229:</strong>
    <%= library.DateBorrow_229 %>
  </p>
  <p>
    <strong>Dateback 229:</strong>
    <%= library.DateBack_229 %>
  </p>
  <p>
    <strong>Numberdate 229:</strong>
    <%= library.numberDate_229 %>
  </p>
</div>
